<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">

            <h1>Editar "{{currentUser.username}}"</h1>

            <form action="/client/edit?id={{currentUser._id}}" method="post">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input name="username" type="text" class="form-control" id="username"
                        value="{{currentUser.username}}">
                    <label for="password">Modificar contraseña</label>
                    <button>Nueva contraseña</button><br>
                    <label for="name">Nombre</label>
                    <input name="name" type="text" class="form-control" id="name" value="{{currentUser.name}}">
                    <label for="address">Dirección</label>
                    <input name="address" type="text" class="form-control" id="address" value="{{currentUser.address}}">
                    <label for="contact">Contacto</label>
                    <input name="contact" type="text" class="form-control" id="contact" value="{{currentUser.contact}}">
                </div>


                <button type="submit" class="btn">Editar</button>
            </form>
        </div>
    </div>
</div>