<section class="container">
    <h1>Edita tu perfil</h1>
    <hr>
    <article class="row">
        <div class="col-4">
            <img id="avatar" src="" alt="Sube la foto de tu perfil">
            <h4>Subir imagen</h4>
            <form action="/client/edit" method="post" enctype="multipart/form-data">
                <input type="text" name="imageName" placeholder="Nombre de imagen"><br><br>
                <input type="file" name="imageFile"><br>
                <input class="btn" type="submit" value="Subir">
            </form>
        </div>
        <div class="col-6" id="signup-form">
            <form action="/client/edit?id={{currentUser._id}}" method="post">
                <h1>Usuario "{{currentUser.username}}"</h1>
                <p>¡Rellene los campos para acceder!</p>
                <form action="/client/edit?id={{currentUser._id}}" method="post">
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input name="username" type="text" class="form-control" id="username"
                            value="{{currentUser.username}}">
                        <label for="name">Nombre</label>
                        <input name="name" type="text" class="form-control" id="name" value="{{currentUser.name}}">
                        <label for="address">Dirección</label>
                        <input name="address" type="text" class="form-control" id="address"
                            value="{{currentUser.address}}">
                        <label for="contact">Contacto</label>
                        <input name="contact" type="text" class="form-control" id="contact"
                            value="{{currentUser.contact}}">
                    </div>

                    {{#if errorMsg}}
                    <div id="errorMsg">{{{errorMsg}}}</div>
                    {{/if}}

                    <button type="submit" class="btn">Editar</button>
                </form>
            </form>

        </div>
    </article>
</section>