<section class="container" id="profile-page">
    <article class="row">

        <img src="https://img.icons8.com/cotton/64/000000/private-lock.png" alt="profile">
        <h1>Tu Perfil</h1>
    </article>
    <ul>
        <li>Nombre de Usuario:
            <h3> {{currentUser.username}} </h3>
        <li>Nombre:
            <h3> {{currentUser.name}} </h3>
        <li>Dirección:
            <h3> {{currentUser.address}} </h3>
        <li>Contacto:
            <h3> {{currentUser.contact}} </h3>
    </ul>
    <p></p>
    <a class="btn" href="/client/edit/{{currentUser._id}}">Editar perfil</a>

</section>

<section class="container">
    <h1>Tu Perfil</h1>
    <hr>
    <article class="row">
        <div class="col-3">
            <img src="" alt="Sube la foto de tu perfil">
            <span class="row col-3">
                <form action="/files/upload-cdn" method="post" enctype="multipart/form-data">
                    <input type="text" name="imageName" placeholder="Nombre de imagen"><br><br>
                    <input type="file" name="imageFile"><br><br>
                    <input type="submit" value="Subir">
                </form>
            </span>
        </div>
        <div class="col-6" id="signup-form">
            <form action="/login" method="post">
                <h1>¡Inicia sesión!</h1>
                <p>¡Rellene los campos para acceder!</p>
                <div class="form-group">
                    <label for="username"></label>
                    <input name="username" type="text" class="form-control" id="username"
                        placeholder="Nombre de ususario">
                </div>
                <div class="form-group">
                    <label for="password"></label>
                    <input name="password" type="password" class="form-control" id="password" placeholder="Contraseña">
                </div>

                {{#if errorMsg}}
                <div id="errorMsg">{{{errorMsg}}}</div>
                {{/if}}

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg">Iniciar sesión</button>
                </div>
                <div>¿No tienes cuenta? <a href="/signup">Regístrate</a></div>
            </form>

        </div>
    </article>
</section>
{{!-- <figure id="clientMap"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/directions.js"> </script>
<script src="/javascripts/mapStyles.js"> </script>
<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script> --}}