<div class="container">
    <img src="https://icons-for-free.com/iconfiles/png/512/instagram+person+profile+icon-1320184028516722357.png" alt="profile">
    <h1>Tu Perfil</h1>
    <ul>
        <li>Nombre de Usuario:</li>
        <h3> {{currentUser.username}} </h3>
        <li>Nombre:</li>
        <h3> {{currentUser.name}} </h3>
        <li>Dirección:</li>
        <h3> {{currentUser.address}} </h3>
        <li>Contacto:</li>
        <h3> {{currentUser.contact}} </h3>
    </ul>
    <p></p>
    <a class="btn" href="/client/edit/{{currentUser._id}}">Editar perfil</a>

</div>

<figure id="clientMap"></figure>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/directions.js"> </script>
<script src="/javascripts/mapStyles.js"> </script>
<script src="/javascripts/main.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{api_key}}&callback=initMap"></script>