<a href="/admin/newUser"><button class="btn btn-outline-primary btn-sm" type="submit">Crear nuevo usuario</button></a>

{{#each allUsers}}
<h1>Usuario: {{username}}</h1>
<p>Rol: {{role}}</p>
<p>Contraseña: {{password}}</p>
<a class="btn btn-outline-primary btn-sm detalle" href="/admin/profileDetails/{{_id}}">Ver detalles</a><br>
<a href="/admin/edit?userId={{_id}}"><button class="btn btn-outline-primary btn-sm" type="submit">Editar</button></a>
<a href="/admin/deleteUser?id={{_id}}" class="btn btn-dark">Eliminar</a>
{{/each}}