<div class="container">
    <a href="/admin/newUser"><button class="btn btn-outline-primary btn-md" type="submit">Crear nuevo
            usuario</button></a>


    {{#each allUsers}}
    <hr>
    <section class="row" id="users-section">
        <article class="col-6">
            <h3>Usuario: {{username}}</h3>
            <p>Rol: {{role}}</p>
            <p>Contraseña: {{password}}</p>
        </article>

        <article class="col-6 btn-section">
            <a class="btn btn-sm" href="/admin/profileDetails/{{_id}}">Ver detalles</a>
            <a href="/admin/edit?userId={{_id}}" class="btn btn-sm">Editar</a>
            <a href="/admin/deleteUser?id={{_id}}" class="btn btn-sm">Eliminar</a>
        </article>

    </section>
    {{/each}}


</div>