<div class="container">
    <a id="admin-btn" href="/admin/admin" role="ADMIN">
        <image
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/Open_Access_logo_PLoS_transparent.svg/110px-Open_Access_logo_PLoS_transparent.svg.png"
            alt="Acceso Administrador"> Admin
    </a>

    <a href="/admin/newUser"><button class="btn btn-outline-primary btn-md" type="submit">Crear nuevo
            usuario</button></a>

    <section class="row">
        {{#each allUsers}}
        <article class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="avatar">
                <div class="card-body">
                    <h5 class="card-title"><a href="/admin/profileDetails/{{_id}}">
                            {{username}}</h5></a>
                    <p class="card-text">Rol: {{role}}</p>

                    <a href="/admin/edit?userId={{_id}}" class="btn btn-sm">Editar</a>
                    <a href="/admin/deleteUser?id={{_id}}" class="btn btn-sm">Eliminar</a>
                </div>
            </div>
        </article>
        {{/each}}

    </section>