<div class="container">
    <h1>Listado de productos</h1>
    <section class="row">

        {{#each allProducts}}
        <span class="col-3">
            <p>{{name}}
                <br>
                <img id="imgProduct" src="{{img}}" alt="product image">
                <a class="btn btn-sm" href="/admin/productDetails/{{_id}}">detalles</a>
                <a class="btn btn-sm" href="/admin/deleteProduct?id={{_id}}">eliminar</a>
                <a class="btn btn-sm" href="/admin/editProduct?productId={{_id}}">editar</a>
            </p>


        </span>
        {{/each}}

    </section>
</div>