<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h1>Editar {{theProduct.name}}</h1>
            <form action="/admin/editProduct?productId={{theProduct._id}}" method="POST">
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <input name="category" type="text" class="form-control" id="category"
                        value="{{theProduct.category}}">
                </div>
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <input name="type" type="text" class="form-control" id="type" value="{{theProduct.type}}">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" type="text" class="form-control" id="name" value="{{theProduct.name}}">
                </div>
                <div class="form-group">
                    <label for="description">Descripción</label>
                    <input name="description" type="text" class="form-control" id="description"
                        value="{{theProduct.description}}">
                </div>
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input name="price" type="text" class="form-control" id="price" value="{{theProduct.price}}">
                </div>
                <div class="form-group">
                    <label for="img">URL de la Imagen</label>
                    <input name="img" type="text" class="form-control" id="img" value="{{theProduct.img}}">
                </div>
                <button type="submit" class="btn">Editar</button>
            </form>
        </div>
    </div>
    <a class="btn" href="/admin/productList">Volver</a>
</div>